.ant-btn {
  padding: 0.4rem 0.7rem;
  max-height: unset;
  height: unset;

  &.la-edit-btn {
    width: 32px !important;
    height: 32px !important;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: auto;

    & > * {
      margin-top: 1px;
    }
  }
}
