.ant-form {
  .ant-form-item {
    margin-bottom: 1rem;

    input {
      padding: 0.4rem 0.7rem;
    }

    .ant-form-item-explain {
      margin-bottom: 0.25rem;
    }

    .ant-form-item-label {
      padding-bottom: 0.25rem;
    }
  }
}
